{% extends "mini_buildd/includes/api/base.html" %}
{% block results %}
	{% mbd_get view.mbd_call.args.pattern.value as pattern %}  {# Shortcut #}
	<section>
		<h2>Search for pattern: <tt>{{ pattern }}</tt></h2>
		{% for source, results in view.mbd_call.result.items %}
			<h3>Source: {{ source }}</h2>
				<ul>
					{% if "repositories" in results %}
						<li>
							Found in repositories: {% mbd_api "ls" name=source value_source=source %}
						</li>
					{% endif %}
					{% if "events" in results %}
						<li>
							Found in events: <a href="{% url 'events' source %}"><img class="mbd-icon" src="{% static 'icons/html.svg' %}" alt="view" title="View events"></a>
							<a href="{% url 'events-dir' source %}"><img class="mbd-icon" src="{% static 'icons/events-dir.svg' %}" alt="browse" title="Browse events dir"></a>
						</li>
					{% endif %}
					{% if "builds" in results %}
						<li>
							Found in builds: <a href="{% url 'builds-dir' source %}"><img class="mbd-icon" src="{% static 'icons/builds-dir.svg' %}" alt="browse" title="Browse builds dir"></a>
						</li>
					{% endif %}
				</ul>
		{% endfor %}
	</section>
{% endblock %}
